RewriteEngine On
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/
RewriteCond %{HTTP_HOST} !^www\.hudwagen\.ru(?::443)?$ [NC]
RewriteCond %{THE_REQUEST} \s(/[^?\s]*)[?\s]
RewriteRule ^ https://www.hudwagen.ru%1 [R=301,L,NE]
